<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0315自定义不等高cell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3E7A7191C9854CB005944E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3E7A7321C9854CB005944E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3E7A73D1C9854CB005944E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
